name: Publish
'on':
  workflow_run:
    workflows:
      - Test
    branches:
      - master
    types:
      - completed
jobs:
  publish:
    name: Publish
    runs-on: ubuntu-latest
    permissions:
      contents: write
    concurrency:
      group: ${{ github.workflow }}-${{ github.ref }}
    steps:
      - name: Check out repository with submodules
        uses: actions/checkout@v5
        with:
          submodules: true
          fetch-depth: 0

      - name: Setup Hugo
        uses: peaceiris/actions-hugo@v3
        with:
          extended: true

      - name: Build static website
        run: |
          hugo \
            --environment=production \
            --minify

      - name: Deploy static website to GitHub Pages
        uses: peaceiris/actions-gh-pages@v4
        if: github.ref == 'refs/heads/master'
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./public
          cname: www.felix-boerner.de
